*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.parent{
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap; /*responsive*/
    align-content: flex-end; /*keeps content close*/
     /* flex-flow: wrap column;  combines 2 properties */
}

.child1{
    width: 200px;
    height: 200px;
    background-color: rgb(8, 8, 136);
}
.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(59, 136, 8);
}
.child3{
    width: 200px;
    height: 200px;
    background-color: rgb(136, 8, 104);
}

.child4{
    width: 200px;
    height: 200px;
    background-color: rgb(238, 209, 44);
}