*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.parent{
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;
}

.child1{
    width: 200px;
    height: 200px;
    background-color: rgb(8, 8, 136);
}
.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(59, 136, 8);
}
.child3{
    width: 200px;
    height: 200px;
    background-color: rgb(136, 8, 104);
}